
{% extends "base.html.twig" %}
{% block body %}

    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Register</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                    <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                    <li>Register</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->

    <!-- jp register wrapper start -->
    <div class="register_section">
        <!-- register_form_wrapper -->
        <div class="register_tab_wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div role="tabpanel">

                            <!-- Nav tabs -->
                            <ul id="tabOne" class="nav register-tabs">
                                <li class="active"><a href="#contentOne-1" data-toggle="tab">Compte Candidat <br>
                                        <span>Je recherche un boulot</span></a>
                                </li>
                                
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active register_left_form" id="contentOne-1">
                                    <div class="jp_regiter_top_heading">
                                        <p>Renseigner vos informations </p>
                                    </div>
                                    <div class="row">
                                        {{ form_start(registrationForm,{'attr':{'data-toggle':'validator'}}) }}
                                       
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Nom</label>
                                                {{ form_widget(registrationForm.nom_c,{'attr':{'placeholder':'Entrer votre nom'}}) }}
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Prenom</label>
                                                {{ form_widget(registrationForm.prenom_c,{'attr':{'placeholder':'Entrer votre prenom'}}) }}
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Email</label>
                                                {{ form_widget(registrationForm.email,{'attr':{'placeholder':'Entrer votre Email'}}) }}
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Password</label>
                                                {{ form_widget(registrationForm.password,{'attr':{'placeholder':'entrez mot de pass'}}) }}

                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Confirm Password</label>
                                                <input type="password" name="confirm" value="" onChange="onChange()"
                                                    placeholder="Confirmer mot de pass" required>
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Sexe</label>
                                                {{ form_widget(registrationForm.sexe,{'attr':{'placeholder':'Entrer votre sexe'}}) }}
                                               
                                                </select>
                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                {{ form_widget(registrationForm.date_n,{'attr':{'placeholder':'date de naissance'}}) }}

                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Niveau</label>
                                                {{ form_widget(registrationForm.niveau,{'attr':{'placeholder':'choisir votre niveau'}}) }}

                                            </div>

                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Nationnalité</label>
                                                {{ form_widget(registrationForm.nationnalite,{'attr':{'placeholder':'Votre nationnalite'}}) }}

                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Adresse</label>
                                                {{ form_widget(registrationForm.adresse,{'attr':{'placeholder':'Entrez votre adresse'}}) }}

                                            </div>
                                            
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Qualification</label>
                                                {{ form_widget(registrationForm.qualification,{'attr':{'placeholder':'Quel est votre qualification ?'}}) }}

                                            </div>
                                            <!--Form Group-->
                                           
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                                <label for="">Telephone</label>
                                                {{ form_widget(registrationForm.telephone,{'attr':{'placeholder':'Votre numero'}}) }}

                                            </div>
                                           
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input" required>
                                                <label for="Profil">Image</label>
                                                <input type='file' onchange="readURL(this);" />
                                                <div class="img-upload">
                                                    <img id="blah" src="images/content/base.png" alt="your image" />
                                                </div>
                                            </div>
                                            <!--Form Group-->
                                            <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input" required>
                                                <label for="cv">Upload CV</label>
                                                <input type="file" name="resume">
                                            </div>
                                            <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="check-box text-center">
                                                    <input type="checkbox" name="shipping-option" id="account-option_1">
                                                    &ensp;
                                                    <label for="account-option_1">J'accepte tous les<a href="#"
                                                            class="check_box_anchr">Terms et Conditions</a> d'utilisation</label>
                                                </div>
                                            </div>
                                            <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
                                                <button type="submit"
                                                    class="btn btn-primary login_btn">S'inscrire</button>
                                                <!-- <a type="submit" href="javascript:;" class="btn btn-primary login_btn"> register </a> -->
                                            </div>
                                        {{ form_end(registrationForm) }}
                                    </div>
                                    <div class="login_message">
                                        <p>Vous avez un compte ?<a href="#"> Se connecter </a> </p>
                                    </div>
                                </div>
                                
                            </div>
                            <p class="btm_txt_register_form">In case you are using a public/shared computer we recommend
                                that you logout to prevent any un-authorized access to your account</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp register wrapper end -->




{% endblock %}