{% extends 'base.html.twig' %}

{% block title %}Offre index{% endblock %}

{% block body %}
    <h1>Offre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Titre</th>
                <th>Adresse</th>
                <th>Date_exp</th>
                <th>Annee_exp</th>
                <th>Diplome</th>
                <th>Nbr_post</th>
                <th>Act_principal</th>
                <th>Description</th>
                <th>Comp_req</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre in offres %}
            <tr>
                <td>{{ offre.id }}</td>
                <td>{{ offre.type }}</td>
                <td>{{ offre.titre }}</td>
                <td>{{ offre.adresse }}</td>
                <td>{{ offre.dateExp ? offre.dateExp|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ offre.anneeExp }}</td>
                <td>{{ offre.diplome }}</td>
                <td>{{ offre.nbrPost }}</td>
                <td>{{ offre.actPrincipal }}</td>
                <td>{{ offre.description }}</td>
                <td>{{ offre.compReq }}</td>
                <td>
                    <a href="{{ path('app_offre_show', {'id': offre.id}) }}">show</a>
                    <a href="{{ path('app_offre_edit', {'id': offre.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_offre_new') }}">Create new</a>
{% endblock %}
